* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}



.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/*Common*/
a{
    text-decoration: none;
}

/*Header*/
.header {
    background: #FFFFFF;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header__logo {
    width: 50px;
    height: auto;
}

.header__nav {
    display: flex;
    gap:30px;
    padding: 20px 30px;
}

.header__link {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.25s;
}

    .header__link:hover {
        transform: scale(1.1);
    }

.header__actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}

.header__action {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.header__search-input {
    border: none;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
}

.header__search-button {
    background: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
}

.header__search-button img {
    width: 16px;
    height: 16px;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header__icon-link {
    text-decoration: none;
}

.header__icon {
    width: 24px;
    height: 24px;
}

.header__login {
    padding: 4px 21px;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    transition: 0.25s;
}

.header__login:hover {
    text-decoration: underline;
    color: #000;
}

.header__signup {
    padding: 4px 21px;
    border-radius: 99px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #000000;
    transition: 0.25s;
}

.header__signup:hover {
    opacity: 0.8;
    cursor: pointer;
    color: #fff;
}
