@page
@model IndexModel
@{
    ViewData["Title"] = "adidas Vietnam Online";
}

<div class="container">
<header class="header">
    
        <a href="/">
            <img class="header__logo" src="~/img/adidas.png" alt="Adidas Logo">
        </a>
        <nav class="header__nav">
            <a class="header__link" href="#">NAM</a>
            <a class="header__link" href="#">DÉP</a>
            <a class="header__link" href="#">QUẦN ÁO</a>
        </nav>
        <div class="header__actions">
            <div class="header__search">
                <input class="header__search-input" type="text" placeholder="tìm kiếm">
                <button class="header__search-button"><img src="~/img/search.png" alt="Search"></button>
            </div>
            <div class="header__icons">
                <a class="header__icon-link" href="#"><img class="header__icon" src="~/img/user.png" alt="Account"></a>
                <a class="header__icon-link" href="#"><img class="header__icon" src="~/img/shopping-bag.png" alt="Cart"></a>

            <a class="header__login" href="#">Đăng nhập</a>
            <button class="header__signup" href="#">Đăng ký</button>
            
    </div>
</header>


</div>